:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

.card {
  padding: 2em;
}

#app {
  width: 100%;
  margin: 0 auto;
  padding: 0rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}


/* cesium div style */
.div-billboard {
  width: 150px;
  height: 50px;
  position: absolute;
  color: #666;
  background-image: linear-gradient(to bpttom, #00b7ff, #dcf0fc);
  border-radius: 10px;
}

.div-billboard .div-billboard-title {
  font-size: 18px;
}

.div-billboard .div-billboard-content {
  font-size: 14px;
}

.div-billboard1 {
  text-align: center;
  padding: 5px 30px;
  margin: 0;
  color: #fff;
  background: linear-gradient(rgb(7 10 203 / 75%), rgb(16 238 220));
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  max-height: 130px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  white-space: nowrap;
}

.div-billboard1:after {
  content: "";
  position: absolute;
  bottom: -60px;
  left: calc(50% - 3px);
  display: block;
  width: 3px;
  height: 60px;
  border-right: 3px solid #2bcdbb;
}

.div-billboard2 {
  border: 1px solid #2bcdbb;
}

.div-billboard2-boder {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 162px;
  height: 30px;
  margin: auto;
  color: #15d1f2;
  box-shadow: inset 0 0 0 1px rgba(21, 209, 242, 0.5);
}

.div-billboard2-text {
  color: #ccc;
  font-size: 15px;
  display: flex;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
  font-weight: bolder;
  user-select: none;
  cursor: pointer;
}

.div-billboard2:hover .div-billboard2-text {
  color: #fff;
}

.div-billboard2-boder::before,
.div-billboard2-boder::after {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  margin: -5%;
  box-shadow: inset 0 0 0 2px;
  animation: mars3d-divBoderLabel-animation 8s linear infinite;
}

.div-billboard2-boder::before {
  animation-delay: -4s;
}

@keyframes mars3d-divBoderLabel-animation {

  0% {
    clip: rect(0px, 177px, 2px, 0px);
  }

  25% {
    clip: rect(0px, 2px, 40px, 0px);
  }

  50% {
    clip: rect(38px, 177px, 177px, 0px);
  }

  75% {
    clip: rect(0px, 177px, 40px, 175px);
  }

  100% {
    clip: rect(0px, 177px, 2px, 0px);
  }
}

.div-billboard3 {
  width: 200px;
  height: 134px;
  background-image: url('@/assets/images/icon/div1.png');
}

.div-billboard3-title {
  color: #fff;
  padding: 20px 10px;
  text-align: end;
}

.div-billboard4 {
  width: 200px;
  height: 157px;
  background-image: url('@/assets/images/icon/div2.png');
}

.div-billboard4-title {
  color: #fff;
  padding: 20px 40px;
}

.div-billboard4-body {
  pointer-events: fill;
  color: #fff;
  font-size: 14px;
}

.div-billboard4-body:hover {
  color: #ff00b7;
}

.div-billboard5 {
  background-image: url("@/assets/images/icon/lbl-circle.png");
  position: absolute;
  background-repeat: no-repeat;
  user-select: none;
  z-index: 100000;
  width: 70px;
  height: 44px;
  background-size: cover;
  /* bottom: -80px; */
  left: -30px;
  cursor: default;
}

.div-billboard5:hover {
  background-image: url("@/assets/images/icon/lbl-circle2.png");
}

.div-billboard5:hover .div-billboard5-board {
  background-image: url("@/assets/images/icon/lbl-extent2.png");
}

.div-billboard5:hover .div-billboard5-line {
  background: linear-gradient(180deg, #ff6b04, transparent);
}

.div-billboard5:hover .div-billboard5-line:before {
  background: linear-gradient(180deg, #ff6b04, transparent);
}

.div-billboard5:hover .div-billboard5-line:after {
  background: linear-gradient(180deg, #ff6b04, transparent);
}

.div-billboard5-board {
  background-image: url("@/assets/images/icon/lbl-extent.png");
  top: -165px;
  transform: translateX(-30%);
  width: 180px;
  height: 52px;
  padding: 15px 0;
  background-position: 50%;
  background-size: contain;
  cursor: pointer;
  position: absolute;
  background-repeat: no-repeat;
}

.div-billboard5-board:hover {
  background-image: url("@/assets/images/icon/lbl-extent2.png");

}

.div-billboard5-board:hover+.div-billboard5-line {
  background: linear-gradient(180deg, #ff6b04, transparent);
}

.div-billboard5-board:hover+.div-billboard5-line:before {
  background: linear-gradient(180deg, #ff6b04, transparent);
}

.div-billboard5-board:hover+.div-billboard5-line:after {
  background: linear-gradient(180deg, #ff6b04, transparent);
}

.div-billboard5-line {
  position: absolute;
  top: -86px;
  left: 35px;
  width: 2px;
  height: 100px;
  background: linear-gradient(180deg, #38c9ff, transparent);
}

.div-billboard5-line:hover {
  background: linear-gradient(180deg, #ff6b04, transparent);
}

.div-billboard5-line:before {
  height: 40%;
  left: 6px;
  animation: rise 3s linear 2s infinite;
  -webkit-animation: rise 3s linear 2s infinite;
  content: "";
  display: block;
  width: 1px;
  background: linear-gradient(180deg, #38c9ff, transparent);
  position: absolute;
  cursor: pointer;
}

.div-billboard5-line:after {
  content: "";
  display: block;
  width: 1px;
  background: linear-gradient(180deg, #38c9ff, transparent);
  position: absolute;
  cursor: pointer;
  height: 60%;
  left: -5px;
  animation: rise 3s linear infinite;
  -webkit-animation: rise 3s linear infinite;
}

.div-billboard5-board h5 {
  width: 100%;
  text-align: center;
  line-height: 24px;
  color: #beedff;
  font-size: 16px;
  margin: 0;
}

/* fffffffffffffffffffffffffffffffff */
.div-billboard6 {
  background-image: url("@/assets/images/icon/lbl-circle.png");
  position: absolute;
  background-repeat: no-repeat;
  user-select: none;
  z-index: 100000;
  width: 70px;
  height: 44px;
  background-size: cover;
  /* bottom: -80px; */
  left: -30px;
  cursor: default;
}

.div-billboard6-board {
  background-image: url("@/assets/images/icon/lbl-extent.png");
  top: -165px;
  transform: translateX(-30%);
  width: 180px;
  height: 52px;
  padding: 15px 0;
  background-position: 50%;
  background-size: contain;
  cursor: pointer;
  position: absolute;
  background-repeat: no-repeat;
}

.div-billboard6-line {
  position: absolute;
  top: -86px;
  left: 35px;
  width: 2px;
  height: 100px;
  background: linear-gradient(180deg, #38c9ff, transparent);
}


.div-billboard6-line:before {
  height: 40%;
  left: 6px;
  animation: rise 3s linear 2s infinite;
  -webkit-animation: rise 3s linear 2s infinite;
  content: "";
  display: block;
  width: 1px;
  background: linear-gradient(180deg, #38c9ff, transparent);
  position: absolute;
  cursor: pointer;
}

.div-billboard6-line:after {
  content: "";
  display: block;
  width: 1px;
  background: linear-gradient(180deg, #38c9ff, transparent);
  position: absolute;
  cursor: pointer;
  height: 60%;
  left: -5px;
  animation: rise 3s linear infinite;
  -webkit-animation: rise 3s linear infinite;
}

.div-billboard6-board h5 {
  width: 100%;
  text-align: center;
  line-height: 24px;
  color: #beedff;
  font-size: 16px;
  margin: 0;
}

@keyframes rise {
  0% {
    opacity: 0.1;
    transform: translate(0, 100%);
  }
  5% {
    opacity: 0.3;
    transform: translate(0, 95%);
  }
  10% {
    opacity: 0.6;
    transform: translate(0, 90%);
  }
  15% {
    opacity: 1;
    transform: translate(0, 85%);
  }
  75% {
    opacity: 1;
    transform: translate(0, 25%);
  }
  80% {
    opacity: 0.7;
    transform: translate(0, 20%);
  }
  90% {
    opacity: 0.3;
    transform: translate(0, 10%);
  }
  95% {
    opacity: 0.2;
    transform: translate(0, 5%);
  }
  100% {
    opacity: 0.1;
    transform: translate(0, 0);
  }
}
